{% extends 'backstage/index.html' %}

{% block container %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">用户管理</a>
        </li>
        <li class="breadcrumb-item active">管理员</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>
            管理员列表
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>管理员身份</th>
                        <th>最后登录时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>管理员身份</th>
                        <th>最后登录时间</th>
                        <th>操作</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for user in users %}
                        <tr id="{{ user.id }}">
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.get_user_status_display }}</td>
                            <td>{{ user.last_login }}</td>
                            <td>
                                {% if request.session.status == 0 %}
                                    {% if user.id == request.session.uid %}
                                        无对应操作
                                    {% elif user.user_status == 0 %}
                                        <a href="javascript:void(0);" onclick="change_status(this,'降权')">降权</a>
                                    {% else %}
                                        <a href="javascript:void(0)" onclick="change_status(this,'升权')">升权</a>|
                                        <a href="javascript:void(0);" onclick="change_status(this,'降权')">降权</a>|
                                        <a href="javascript:void(0);" onclick="change_status(this,'删除')">删除</a>
                                    {% endif %}
                                {% elif request.session.status == 1 %}
                                    {% if user.id == request.session.uid %}
                                        无对应操作
                                    {% elif user.user_status == 0 %}
                                        <a href="javascript:void(0);" onclick="change_status(this,'降权')">无对应操作</a>
                                    {% else %}
                                        <a href="javascript:void(0);" onclick="change_status(this,'降权')">降权</a>|
                                        <a href="javascript:void(0);" onclick="change_status(this,'删除')">删除</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">更新于{{ now|date:'Y-m-d H:i' }}</div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function get_user_info(ths) {
            let uid = $(ths).parent().parent().attr('id');
            let username = $(ths).parent().parent().children('td:eq(1)').text();
            let identity = $(ths).parent().parent().children('td:eq(3)').text();
            return [uid,username,identity]
        }
        function change_status(ths, operate) {
            let user = get_user_info(ths);
            let answer = confirm('确定将' + user[2] + ' ' + user[1] + '进行' + operate + '操作吗?');
            if (answer) {
                $.post(
                    '{% url "backstage:administrators" %}',
                    {"csrfmiddlewaretoken": "{{ csrf_token }}", "uid": user[0], "type": operate},
                    function (data) {
                        alert(data['msg']);
                        if (data['status']) {
                            window.location.reload()
                        }
                    }
                )
            }
        }
        $('#user-manage').removeClass('collapsed');
        $('#collapseComponents').addClass('show');
    </script>
{% endblock %}
