{% extends 'index.html' %}
{% load static %}

{% block head %}
    <title>帮助中心 - 嗖嗖</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <ol role="navigation" aria-label="breadcrumbs" class="pull-left breadcrumb">
                <li class=""><a href="/">首页</a></li>
                <li class="active"><span>帮助中心</span></li>
                <li class="active"><span>常见问题</span></li>
            </ol>
            <div class="clearfix">
                <div class="City__city____9_sg">
                    <span>当前城市: 太原市</span>
                    <span class="City__city-selector___1Rmpt">[ 切换城市 ]</span>
                </div>
            </div>
        </div>
        <div class="card Root__flex___3FyxW">
            <div>
                <div class="Sidebar__sidebar___2BiGf">
                    <div class="Sidebar__sidebar-body___1IZPP">
                        <div>
                            <div id="common" class="Sidebar__menu-item___1f6bl Sidebar__active___2UJXX">
                                <span>常见问题</span>
                            </div>
                        </div>
                        <div>
                            <div id="calu-price" class="Sidebar__menu-item___1f6bl">
                                <span>计价规则</span>
                            </div>
                        </div>
                        <div>
                            <div id="ban" class="Sidebar__menu-item___1f6bl">
                                <span>禁止配送物品目录</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-width">
                <div class="FAQ__content___1OZst">
                    <h2>常见问题</h2>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tablist" class="panel-group">
                        <div class="FAQ__question___3x_xg panel panel-default">
                            <div class="panel-heading">
                                <h4 role="presentation" class="panel-title">
                                    <a role="tab" aria-expanded="false" aria-selected="false"
                                       class="collapsed">嗖嗖可以发外地吗？</a>
                                </h4>
                            </div>
                            <div role="tabpanel" class="panel-collapse collapse" aria-hidden="true">
                                <div class="panel-body">
                                    <div>
                                        嗖嗖目前提供同城内的专人递送服务，在已经开通的37个城市可以全境服务，跨城市的服务暂时还没有开通。（目前“1小时达”已覆盖了上海、北京、深圳、广州、杭州、南京、成都、西安、福州、苏州、天津、厦门、长沙、济南、宁波、重庆、石家庄、南昌、哈尔滨、郑州、青岛、常州、合肥、大连、武汉、无锡、嘉兴、昆山、南通、温州、潍坊、扬州、芜湖、烟台、佛山、东莞、马鞍山城市全境；平台拥有超300万经过严格培训过的嗖嗖骑士）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Pricing__container___2HjcQ hidden">
                    <h2>计价规则</h2>
                    <p>嗖嗖，国内值得信赖的同城快送信息服务平台，
                        拥有超300万经过严格培训的嗖嗖骑士，平均10分钟上门取件，
                        60分钟送达，7×24小时全天候服务，专人直送，快送全程实时监控，
                        快捷又安全！</p>
                    <div class="Pricing__rule__content___Vp_xw">
                        <h3>基础运费：</h3>
                        <div class="Pricing__rule___2ceOq">
                            <span class="Pricing__rule__condition___2wSLT">
                                0~2公里
                            </span>
                            <span>10元</span>
                        </div>
                        <div class="Pricing__rule___2ceOq">
                            <span class="Pricing__rule__condition___2wSLT">
                                2~4公里
                            </span>
                            <span>每1公里加价1元</span>
                        </div>
                        <div class="Pricing__rule___2ceOq">
                            <span class="Pricing__rule__condition___2wSLT">
                                4~10公里
                            </span>
                            <span>每1公里加价2元</span>
                        </div>
                        <div class="Pricing__rule___2ceOq">
                            <span class="Pricing__rule__condition___2wSLT">
                                10~16公里
                            </span>
                            <span>每3公里加价5元</span>
                        </div>
                        <div class="Pricing__rule___2ceOq">
                            <span class="Pricing__rule__condition___2wSLT">
                                16~100公里
                            </span>
                            <span>每3公里加价6元</span>
                        </div>
                    </div>
                    <div class="Pricing__rule__content___Vp_xw">
                        <h3>重量附加费：</h3>
                        <div class="Pricing__rule___2ceOq">
                            <span class="Pricing__rule__condition___2wSLT">
                                0~5公斤
                            </span>
                            <span>不收重量附加费</span>
                        </div>
                        <div class="Pricing__rule___2ceOq">
                            <span class="Pricing__rule__condition___2wSLT">
                                5~15公斤
                            </span>
                            <span>每1公斤加价2元</span>
                        </div>
                    </div>
                </div>
                <div class="Contraband__content___12B02 hidden">
                    <h2>禁止配送物品目录</h2>
                    <p>（1）国家法律法规禁止配送的</p>
                    <div class="Contraband__tip___2csgr">
                        <p>a.各类武器、弹药。如枪支、子弹、炮弹、手榴弹、地雷、炸弹等。</p>
                        <p>b.各类易爆炸性物品。如雷管、炸药、火药、鞭炮等。</p>
                        <p>c.各类易燃烧性物品，包括液体、气体和固体。如汽油、煤油、
                            桐油、酒精、生漆、柴油、气雾剂、气体打火机、瓦斯气瓶、磷、
                            硫磺、火柴等。</p>
                        <p>d.各类易腐蚀性物品。如火硫酸、盐酸、
                            硝酸、有机溶剂、农药、双氧水、危险化学品等。</p>
                        <p>e.各类放射性元素及容器。如铀、钴、镭、钚等。</p>
                        <p>f.各类烈性毒药。如铊、氰化物、砒霜等。</p>
                        <p>g.各类麻醉药物。如鸦片（包括罂粟壳、花、苞、叶）、吗啡、
                            可卡因、海洛因、大麻、冰毒、麻黄素及其它制品等。</p>
                        <p>h.各类生化制品和传染性物品。如炭疽、危险性病菌、医药用废弃物等。</p>
                        <p>i.各种危害国家安全和社会政治稳定以及淫秽的出版物、宣传品、印刷品等。</p>
                        <p>j.各种妨害公共卫生的物品。如尸骨、动物器官、肢体、未经硝制的兽皮、未经药制的兽骨等。</p>
                        <p>k.国家法律、法规、行政规章明令禁止流通、寄递或进出境的物品，
                            如国家秘密文件和资料、流通的各种货币及伪造的货币和有价证券、仿真武器、管制刀具、
                            珍贵文物、濒危野生动物及其制品等。</p>
                        <p>l.包装不妥，可能危害人身安全、
                            污染或者损毁其他寄递件、设备的物品等。</p>
                        <p>m.其他禁止寄递的物品。</p>
                    </div>
                    <p>（2）国家法律法规要求限制配送的</p>
                    <div class="Contraband__tip___2csgr">
                        <p>邮寄卷烟、雪茄烟每件以二条（400支）为限（二者合寄时亦限二条）。邮寄烟叶、
                            烟丝每件以５公斤为限（二者合寄不得超过１０公斤）。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('.panel-title a').click(function () {
            <!-- 控制帮助中心右侧常见问题的开关 -->
            if ($(this).attr('aria-selected') === 'false') {
                $(this).attr('aria-selected', true);
                $(this).removeClass('collapsed');
                $(this).parent().parent().siblings().attr('aria-hidden', false).addClass('in')
            } else {
                $(this).attr('aria-selected', false);
                $(this).addClass('collapsed');
                $(this).parent().parent().siblings().attr('aria-hidden', true).removeClass('in')
            }
        });
        $('#ban').click(function () {
            $(this).addClass('Sidebar__active___2UJXX').parent().siblings()
                .children('div').removeClass('Sidebar__active___2UJXX');
            $('.Contraband__content___12B02').removeClass('hidden').siblings().addClass('hidden');
        });
        $('#common').click(function () {
            $(this).addClass('Sidebar__active___2UJXX').parent().siblings()
                .children('div').removeClass('Sidebar__active___2UJXX');
            $('.FAQ__content___1OZst').removeClass('hidden').siblings().addClass('hidden');
        });
        $('#calu-price').click(function () {
            $(this).addClass('Sidebar__active___2UJXX').parent().siblings()
                .children('div').removeClass('Sidebar__active___2UJXX');
            $('.Pricing__container___2HjcQ').removeClass('hidden').siblings().addClass('hidden');
        });
        $(function () {
            $('ul.acc a:contains("帮助中心")').parent().addClass('active')
                .siblings().removeClass('active');
            $('ol li').addClass('active')
        })
    </script>
{% endblock %}
